<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
<connectionStrings><add name="ClientesEntities" connectionString="metadata=res://*/Model.Clientes.csdl|res://*/Model.Clientes.ssdl|res://*/Model.Clientes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-06QQ32Q;initial catalog=Clientes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>